<a href="https://colab.research.google.com/github/WSzymczak23/projekty-SDA/blob/main/16_01_Pandas_zabawy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
pd.Series(["jedyneczka", "dwujeczka", "tr0jeczka"])

0    jedyneczka
1     dwujeczka
2     tr0jeczka
dtype: object

In [ ]:
tabeleczka=pd.DataFrame([1, "jedyneczka", 1.0, "1000-01-01"], [2, "dwojeczka", 2.2, "2000-02-02"])
tabeleczka.info
print(tabeleczka)

                     0
2                    1
dwojeczka   jedyneczka
2.2                  1
2000-02-02  1000-01-01

In [ ]:
samolociki = pd.read_csv("bird_airplanes.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
samolociki.head(12)

    Record ID  Incident Year  ...  Other Strike  Other Damage
0      127128           1990  ...             0             0
1      129779           1990  ...             1             0
2      129780           1990  ...             0             0
3        2258           1990  ...             0             0
4        2257           1990  ...             0             0
5      129734           1990  ...             1             0
6      129735           1990  ...             0             0
7      129736           1990  ...             0             0
8      129737           1990  ...             0             0
9      127848           1990  ...             0             0
10     107155           1990  ...             0             0
11     129738           1990  ...             0             0

[12 rows x 66 columns]

In [ ]:
samolociki.columns

Index(['Record ID', 'Incident Year', 'Incident Month', 'Incident Day',
       'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
       'Aircraft Model', 'Aircraft Mass', 'Engine Make', 'Engine Model',
       'Engines', 'Engine Type', 'Engine1 Position', 'Engine2 Position',
       'Engine3 Position', 'Engine4 Position', 'Airport ID', 'Airport',
       'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
       'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
       'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
       'Injuries', 'Aircraft Damage', 'Radome Strike', 'Radome Damage',
       'Windshield Strike', 'Windshield Damage', 'Nose Strike', 'Nose Damage',
       'Engine1 Strike', 'Engine1 Damage', 'Engine2 Strike', 'Engine2 Damage',
       'Engine3 Strike', 'Engine3 Damage', 'Engine4 Strike', 'Engine4 Damage',
       'Engine Ingested', 'Propeller Strike', 'Propeller Damage',
       'Wing or Rotor Strike', 'Wing or Rotor Damage', 'Fuselage Strike',
       'Fuselage Damage', 'Landing Gear Strike', 'Landing Gear Damage',
       'Tail Strike', 'Tail Damage', 'Lights Strike', 'Lights Damage',
       'Other Strike', 'Other Damage'],
      dtype='object')

In [ ]:
samolociki.loc[2]

Record ID         129780
Incident Year       1990
Incident Month         1
Incident Day           2
Operator ID          UNK
                   ...
Tail Damage            0
Lights Strike          0
Lights Damage          0
Other Strike           0
Other Damage           0
Name: 2, Length: 66, dtype: object

In [ ]:
33samolociki[(samolociki["Operator"]=="MILITARY") and (samolociki["Operator ID"] == "MIL")]

ValueError: ignored

In [ ]:
samolociki

        Record ID  Incident Year  ...  Other Strike  Other Damage
0          127128           1990  ...             0             0
1               1              1  ...             1             1
2          129780           1990  ...             0             0
3            2258           1990  ...             0             0
4            2257           1990  ...             0             0
...           ...            ...  ...           ...           ...
174099     366091           2015  ...             0             0
174100     365902           2015  ...             0             0
174101     365903           2015  ...             0             0
174102     366046           2015  ...             0             0
174103     365823           2015  ...             1             0

[174104 rows x 66 columns]

In [ ]:
samolociki.apply(lambda x : x.max()-x.min(), axis=1)

TypeError: ignored

In [ ]:
samolociki.groupby("Operator")["Incident year"].mean()

KeyError: ignored